anyio
av
certifi
click
coloredlogs
ctranslate2
faster-whisper
filelock
flatbuffers
fsspec
h11
hf-xet
httpcore
httpx
huggingface_hub
humanfriendly
idna
mpmath
numpy
onnxruntime
packaging
protobuf
PyYAML
sympy
tokenizers
tqdm
typing_extensions
